* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #222831;
    font-family: 'Roboto', sans-serif;
}

.header {
    padding: 48px 0;
    text-align: center;
    background-color: #111720;
}

.title {
    font-size: 36px;
    color: #fac650;
    font-family: 'Press Start 2P', cursive;
}

.main {
    flex: 1;
    color: #dddddd;
    padding-top: 30px;
    text-align: center;
}

.round-result {
    font-size: 36px;
}

.round-details {
    font-size: 22px;
    margin-top: 18px;
}

.scoreboard {
    list-style: none;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    gap: 110px;
}

.round-choice {
    font-size: 80px;
}

.score {
    font-size: 20px;
    margin-top: 36px;
}

.choice-buttons {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.choice-button {
    width: 160px;
    height: 160px;
    border: none;
    border-radius: 10px;
    font-size: 80px;
    background-color: #393e46;
    transition: all .1s ease;
}

.pressed {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}  

.footer {
    padding: 10px 0;
    color: #dddddd;
    text-align: center;
    font-size: 18px;
}

.modal {
    margin: auto;
    border: none;
    color: #dddddd;
    background-color: #222831;
    border-radius: 10px;
    text-align: center;
    width: 240px;
    height: 140px;
    padding: 30px;
}

.modal::backdrop {
    background-color: black;
    opacity: 0.6;
}

.modal-title {
    font-size: 40px;
    margin-bottom: 36px;
}

.play-again-button {
    border: none;
    color: #dddddd;
    background-color: #393e46;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px 20px;
}